# Build results & temp downloads
build/
[Oo]bj/
publish/

# Portable Binaries & Runtimes (provisioned via scripts/setup-bundle.ps1)
bin/*/*
!bin/*/.gitkeep
tools/composer/composer.phar
tools/composer/composer.bat

# Visual Studio / Rider / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Windows thumbnail & desktop caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs & Binlogs
*.log
*.binlog

# Runtime databases data dirs
bin/mysql/data/*
bin/postgresql/data/*
!bin/mysql/data/.gitkeep
!bin/postgresql/data/.gitkeep

# User web root projects
www/*
!www/.gitkeep
!www/index.php
